<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>拠点</title>
</head>

<body>
    <p>ここは我が拠点なり</p>
    <p><a href="/omikuji3">今日の運勢を図る</a></p>
    <p><a href="/janken_reset">じゃんけんをする</a></p>
    <p><a href="/public/keiyo_add.html">駅データベースに追加</a></p>
    <p><a href="/keiyo">駅データベースを表示</a></p>
    <p><a href="/public/keiyo2_add.html">駅データベースに追加2</a></p>
    <p><a href="/keiyo2">駅データベースを表示2</a></p>
    <p><a href="/keiyo2/create">駅データベースに追加2（新規ページ）</a></p>
    <p><a href="/keiyo2/0">駅データベースを表示2（詳細ページ）</a></p>
</body>

</html>