<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>拠点</title>
</head>

<body>
    <p>ここは我が拠点なり</p>
    <p><a href="/omikuji3">今日の運勢を図る</a></p>
    <p><a href="/janken_reset">じゃんけんをする</a></p>
</body>

</html>