<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>拠点</title>
    <link rel="stylesheet" href="/kimatu_saki.css">
</head>

<body class="blue-theme">
    <div class="container">
        <header class="page-header">
            <h2>期末課題のレポート</h2>
        </header>
        <p></p>
        <p><a class="btn" href="/kimatu_saki_list">1つ目一覧</a></p>
        <p><a class="btn" href="/kimatu_gakumasu_list">2つ目一覧</a></p>
        <p><a class="btn" href="/kimatu_compass_list">3つ目一覧</a></p>
    </div>
</body>