<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>拠点</title>
</head>

<body>
    <p></p>
    <p><a href="/kimatu_list">キャラクター一覧</a></p>
    <p><a href="/kimatu_new.html">キャラクター追加</a></p>
    <p><a href="/kimatu_formation">編成</a></p>
    <p><a href="/">ホームに戻る</a></p>
</body>