<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>拠点</title>
</head>

<body>
    <p></p>
    <p><a href="/kimatu_saki_list">1つ目一覧</a></p>
    <p><a href="/kimatu_gakumasu_list">2つ目一覧</a></p>
    <p><a href="/kimatu_compass_list">3つ目一覧</a></p>
</body>