<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>おみくじ結果</title>
</head>

<body>
    <p> <a href="/">戻る</a>
    </p>
    <h1>今日の運勢は <%= result %> です！</h1>
    <p>
        <%= comment %>
    </p>
</body>

</html>